<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplikasi Cek Cuaca</title>
    <link rel="icon" href="/img/cuaca.png">
    <link rel="stylesheet" href="/css/styles-tentang.css">
    <style>
        .section-divider {
            border-top: 1px solid #ccc;
            margin-top: 20px;
            padding-top: 20px;
        }
        .main-content {
            width: 80%;
            margin: auto;
        }
        .profile-pic img {
            display: block;
            margin: 0 auto;
            border: 1px solid #ddd;
            padding: 5px;
            width: 150px;
            height: auto;
        }
    </style>
</head>
<body>
    {{>header}}
    <div class="background-image"></div>
    <div class="main-content">

        <!-- Bagian Header Profil -->
        <div class="profile-header section-divider">
            <h1>Yudi Mubarok</h1>
            <h2>22343081</h2>
        </div>

        <!-- Foto Profil -->
        <section class="profile-pic section-divider">
            <img src="/img/yudi.png" alt="Foto Yudi Mubarok" class="profile-pic">
        </section>

        <!-- Ringkasan -->
        <section class="summary section-divider">
            <h3>Ringkasan</h3>
            <p>Saya seorang Seorang Mahasiswa di Universitas Negeri pdaang, yang berfokus pada ilmu komputer.</p>
        </section>

        <!-- Keterampilan Pribadi -->
        <section class="personal-skills section-divider">
            <h3>Keterampilan Pribadi</h3>
            <ul>
                <li>Keterampilan interpersonal yang kuat</li>
                <li>Manajemen waktu dan organisasi</li>
            </ul>
        </section>


        <!-- Profil Akademik -->
        <section class="academic-profile section-divider">
            <h3>Profil Akademik</h3>
            <h4>Universitas Negeri Padang</h4>
            <p>jurusan informatika </p>
            <p>Belum lulus | Angkatan Agustus 2022</p>
            

            <h4>SMK 6 Padang</h4>
            <p>jurusan Teknik Komputer Jaringan (TKJ) </p>
            <p> Lulus , *Juni 2021</p>
    

        <!-- Detail Kontak -->
        <section class="contact-details section-divider">
            <h3>Detail Kontak</h3>
            <p>Telepon seluler: (021) 456 7890</p>
            <p>Email: yudimubarok@unp.ac.id</p>
            <p>Alamat Rumah: Jalan Kariraman 123, Jekan Raya, Palangka Raya, TP12 Po, Indonesia.</p>
        </section>

    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>
