<header>
    <h1 class="nav-brand">Aplikasi Cek Cuaca</h1> <!-- Menambahkan kelas 'nav-brand' pada judul -->
    <nav class="nav-penjelasan">
        <a href="/" class="nav-link">Beranda</a>
        <a href="/tentang" class="nav-link">Tentang</a>
        <a href="/bantuan" class="nav-link">Bantuan</a>
        <a href="/penjelasan" class="nav-link">Berita</a>
    </nav>
</header>
